/* document color variables*/
:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}
/*html reset and font setting*/
* {
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}
/*document background gradient*/
html {
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  background-repeat: no-repeat;
}
/*body formatting*/
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*main content card formatting*/
main {
  width: 327px;
  height: 643px;
  background-color: var(--light-grayish-blue);
  border-radius: 23px;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 150px;
}
/*images formatting*/
#women-mobile {
  max-width: 237px;
  max-height: 180px;
  position: relative;
  bottom: 100px;
}
#shadow-mobile {
  position: absolute;
}

#box-desktop {
  display: none;
}
/*content formatting*/
h1 {
  font-size: 32px;
  text-align: center;
  font-weight: 700;
}
h2:hover {
  cursor: pointer;
  color: var(--soft-red);
}
.content-wrapper {
  margin-top: 20px;
  width: 279px;
}
h2 {
  font-size: 13px;
  margin-top: 17px;
}
p {
  font-size: 13px;
  margin-bottom: 16px;
}
.arrow {
  position: relative;
  left: 250px;
  bottom: 20px;
}
.desc {
  display: none;
}
/*footer formatting*/
footer {
  margin-bottom: 150px;
  font-size: 11px;
  text-align: center;
  color: white;
}

footer a {
  color: var(--soft-red);
  text-decoration: none;
}
footer a:hover {
  color: var(--light-grayish-blue);
}

/*transform properties*/

.active h2 {
  font-weight: bold;
}

.active p {
  display: block;
}
.active .arrow {
  transform: rotate(180deg);
  transition: transform 500ms;
}

/*device breakpoint for fesktop*/
@media only screen and (min-width: 1000px) {
  main {
    width: 920px;
    height: 509px;
    background-color: var(--light-grayish-blue);
    border-radius: 23px;
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
    background-image: url("images/illustration-woman-online-desktop.svg"),
      url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 50%, 80%;
    background-clip: border-box;
    background-position: left -20% bottom 60%, left -200% bottom 30%;
  }

  #women-mobile {
    display: none;
  }
  #shadow-mobile {
    display: none;
  }

  #box-desktop {
    display: block;
    position: absolute;
    transform: translate(-240%, 20%);
  }
  .content-wrapper {
    margin-top: 20px;
    width: 350px;
    margin-left: 400px;
  }
  h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
  }
  h2:hover {
    cursor: pointer;
    color: var(--soft-red);
  }

  h2 {
    font-size: 13px;
    margin-top: 17px;
  }
  p {
    font-size: 13px;
    margin-bottom: 16px;
  }
  .arrow {
    position: relative;
    left: 250px;
    bottom: 20px;
  }
  .desc {
    display: none;
  }

  footer {
    font-size: 14px;
  }

  /*transform properties*/
  .active h2 {
    font-weight: bold;
  }

  .active p {
    display: block;
  }
  .active .arrow {
    transform: rotate(180deg);
  }
}
